{% extends 'base.html' %}
{% block content %}
<h2>Adicionar Item</h2>

<form method="POST">
    {% csrf_token %}
    <input type="text" name="nome" placeholder="Nome do item" required>

    <input type="url" name="imagem_url" placeholder="URL da imagem">

    <input type="url" name="produto_url" placeholder="URL do produto">

    <select name="categoria" required>
        {% for c in categorias %}
        <option value="{{ c.id }}">{{ c.nome }}</option>
        {% endfor %}
    </select>

    <button type="submit">Salvar</button>
</form>
{% endblock %}
